[submodule "doubtfire-web"]
	path = doubtfire-web
	url = https://github.com/ontrack-features-t2-2026/doubtfire-web.git
[submodule "doubtfire-api"]
	path = doubtfire-api
	url = https://github.com/ontrack-features-t2-2026/doubtfire-api.git
[submodule "doubtfire-overseer"]
	path = doubtfire-overseer
	url = https://github.com/doubtfire-lms/doubtfire-overseer.git
[submodule "doubtfire-lti"]
	path = doubtfire-lti
	url = https://github.com/doubtfire-lms/doubtfire-lti.git
